.loginBg{
    height: 25rem;
}
.cover1{
    height: 0;
}
.lang{
    color: white;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
}
.filterMovie{
    color: white;
    background-color: black;
    border-bottom: 1px solid white;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
}
.l-movie{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    background-color: black;
    padding: 3rem 0rem ;
    border-bottom: 1px solid white;
}
.filterHead{
    font-size: 2rem;
    margin-right: 1rem;
}
.selectV {
    background: none;
    color: white;
    outline: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    width: 5.5rem;
    height: 3rem;
    padding-left: 0.5rem;
    margin-right: 1rem;
}
.selectV:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
select option{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.serchBarr{
    border: 1px solid white;
    outline: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.5rem;
    width: 50rem;
    border-radius: 5px;
    height: 3rem;
    font-size: 1.1rem;
}
.serchSec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin: 0rem 2rem 0rem 2rem;
}
.name{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform:capitalize;
}
.date{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.movie:hover{
    transform: scale(1.06);
    transition: 0.4s all ease-in-out;
}
.movie img{
    height: 25rem;
    cursor: pointer;
}
.movie{
    margin-bottom: 2rem;
}