.hCenter {
    height: 8rem;
    background-color: black;
    text-align: center;
}

.h-help {
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.helpSerch {
    border: none;
    outline: none;
    background-color: #fff;
    color: rgb(109, 109, 109);
    padding: 1rem;
    width: 45rem;
    padding-left: 0rem;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
}

.hSearch {
    color: rgb(109, 109, 109);
    font-size: 1.3rem;
    margin-top: 0.9rem;

}

.hSerchSec {
    display: flex;
    justify-content: center;
}

.hSerchBox {
    height: 3.2rem;
    width: 3rem;
    background-color: white;
    border-radius: 5px 0px 0px 5px;

}

.hMiddleSec {
    margin-left: 8.2rem;
}

.hHead {
    margin-left: 0rem;
}

.h-btn {
    height: 3rem;
    font-size: 1.1rem;
    margin-right: 1rem;

}

.h-join {
    height: 3rem;
    width: 10rem;
    border: 1px solid rgb(229, 9, 20);
    color: rgb(229, 9, 20);
    font-size: 1.1rem;
}

.h-join:hover {
    background-color: rgb(229, 9, 20);
    color: white;
}

.hTopics {
    display: flex;
    height: 4rem;
    width: 20rem;
    background-color: white;
    box-shadow: 1px 1px 6px 1px rgb(213, 211, 211);
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-right: 1rem;

}

.hTop {
    margin-top: 0.2rem;

}

.hTop:hover {
    color: rgb(229, 9, 20);
    cursor: pointer;
    text-decoration: underline;
}

.hTopMain {
    display: flex;
}
.hBorder{
    border-bottom: 1px solid rgb(169, 169, 169);
}
/* article sec */
.articleMain{
    margin-left: 8rem;
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-right: 3rem;
}
.articleHead{
    margin-left: 0rem;
    font-size: 1.5rem;
}
.articleText{
    margin-top: 1rem;
}
.chevron{
    font-size: 0.9rem;
    margin-top: 1.3rem;
    color: #e50914;
}

.hCard{
    display: flex;
    width:15rem;
    
}
.hCard:hover{
    color: #e50914;
    cursor: pointer;    
    transform:scale(1.2);  
    transform:translate(2px);
    transition: 0.3s all ease;

}
.articleText:hover{
    color: #e50914;
    cursor: pointer;
    text-decoration: underline;
}
.chevron{
    display: none;
}
.hChevron{
    display: initial;
}
@media (max-width: 1360px) {
    
    .articleMain{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .hCard {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .hMiddleSec {
        margin-left: 4rem;
    }
    .articleMain{
        margin-left: 4rem;
        margin-right: 0rem;
    }
}

@media(max-width:1000px) {
    .helpSerch {
        width: 60%;
    }
    .hMiddleSec {
        margin-left: 1rem;
    }
    .hTopMain{
        display: block;
        margin-right: 1rem;
        justify-content: start;

    }
    .hTopics{
        width: 100%;
        justify-content: start;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }
    .h-btn{
        font-size: 0.9rem;
        height: 2.5rem;
    }
    .h-join{
        font-size: 1rem;
        height: 2.5rem;

    }
    .articleMain{
        margin-left: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .hCard {
        width: 80%;
    }
    .chevron{
        display: initial;
    }
}
@media(max-width:500px) {
    .articleMain{
        grid-template-columns: 1fr;
    }
    .hCard {
        width: 90%;
    }
}
@media(max-width:500px) {
    .helpSerch {
        width: 100%;
        margin-right: 1rem;
    }

    .hSerchBox {
        margin-left: 1rem;
    }
}